bottle>=0.12.16
Cerberus>=1.2
certifi>=2019.3.9
chardet>=3.0.4
freeze>=1.0.10
idna>=2.8
Jinja2>=2.10
MarkupSafe>=1.1.1
mecab-python3>=0.996.1
numpy>=1.16.2
pandas>=0.24.2
Pillow>=5.4.1
ptvsd>=4.2.5
pyfiglet>=0.8.post1
pytesseract>=0.2.6
python-dateutil>=2.8.0
pytz>=2018.9
requests>=2.21.0
six>=1.12.0
urllib3>=1.24.1
uuid>=1.30
opencv-python>=4.0.0.21